/* Home page - updated */

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

p {
  margin: 0;
}

.home-page-updated {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 1440px;
  height: 5190px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
.rectangle-729 {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 100%;
  height: 907.5px;
}

.group-14145 {
  position: absolute;
  top: 1525px;
  left: 0px;
  width: 1906.26px;
  height: 1020px;
}

.vector {
  position: absolute;
  top: -2.89%;
  bottom: 84.76%;
  left: -32.92%;
  right: 52.68%;
  width: 1155.36px;
  height: 940.8px;
}

.vector-1 {
  position: absolute;
  top: -9.88%;
  bottom: 85.62%;
  left: -75.97%;
  right: 41.45%;
  width: 1937.13px;
  height: 1259.56px;
}

.group-139 {
  position: absolute;
  top: 4955px;
  left: 0px;
  width: 100%;
  height: 235.5px;
}

.vector-2 {
  position: absolute;
  top: 6.24%;
  bottom: 87.61%;
  left: 57.29%;
  right: 7.08%;
  width: 512.97px;
  height: 319.02px;
}

.best-creative-digital-o {
  position: absolute;
  top: 446px;
  left: 75px;
  color: rgba(28, 28, 27, 1);
  font-size: 60px;
  line-height: 125%;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.digital-online-courses {
  position: absolute;
  top: 608.13px;
  left: 75px;
  color: rgba(43, 43, 43, 1);
  font-size: 18px;
  line-height: 178%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.mask-group {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 100%;
  height: 907.5px;
}

.we-have-different-cours {
  position: absolute;
  top: 1187.88px;
  left: 75px;
  color: rgba(43, 43, 43, 1);
  font-size: 18px;
  line-height: 178%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.we-have-different-categ {
  position: absolute;
  top: 1126px;
  left: 75px;
  color: rgba(239, 154, 92, 1);
  font-size: 40px;
  line-height: 40px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.group-14142 {
  position: absolute;
  top: 1286px;
  left: 448px;
  width: 172.47px;
  height: 172.47px;
}

.group-14143 {
  position: absolute;
  top: 1286px;
  left: 789.49px;
  width: 168.47px;
  height: 168.47px;
}

.group-14141 {
  position: absolute;
  top: 1286px;
  left: 122px;
  width: 172.32px;
  height: 172.32px;
}

.group-368 {
  position: absolute;
  top: 1286px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 169.47px;
  height: 212px;
  box-sizing: border-box;
}
.group-14144 {
  width: 100%;
  height: 169.47px;
}

.group-1391 {
  width: fit-content;
  height: 23px;
  box-sizing: border-box;
}
.life-skills {
  color: rgba(28, 28, 27, 1);
  font-size: 19.72px;
  line-height: 19.72px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.if-you-re-not-sure-about-w {
  position: absolute;
  top: 1824px;
  left: 75px;
  color: rgba(43, 43, 43, 1);
  font-size: 18px;
  line-height: 178%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.if-you-re-not-sure-about-w-1 {
  position: absolute;
  top: 1823.88px;
  left: 75px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 178%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.aplace-to-start {
  position: absolute;
  top: 1762px;
  left: 75px;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  line-height: 40px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.group-175 {
  position: absolute;
  top: 1922px;
  left: 75px;
  width: 227.48px;
  height: 317.2px;
  border-radius: 28.26px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2.83px 14.13px rgba(0, 0, 0, 0.06);
}
.mask-group-1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 172.35px;
}

.group-174 {
  position: absolute;
  top: 140.59px;
  left: 128.58px;
  width: 88.31px;
  height: 21.19px;
  padding: 6px 8.31px 7.19px 10px;
  border-radius: 14.13px;
  box-sizing: border-box;
  background-color: rgba(169, 215, 228, 1);
}
.hands-on-activity {
  color: rgba(0, 0, 0, 1);
  font-size: 8.48px;
  line-height: 8.48px;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}

.group-703 {
  position: absolute;
  top: 189.41px;
  display: flex;
  flex-direction: column;
  width: 187.97px;
  height: 86.11px;
  box-sizing: border-box;
}
.sculpture {
  color: rgba(0, 0, 0, 1);
  font-size: 16.96px;
  line-height: 16.96px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.let-slook-at-sculpture-o {
  color: rgba(0, 0, 0, 1);
  font-size: 9.89px;
  line-height: 157%;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}

.group-178 {
  position: absolute;
  top: 1922px;
  left: 871.89px;
  width: 227.48px;
  height: 317.2px;
  border-radius: 28.26px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2.83px 14.13px rgba(0, 0, 0, 0.06);
}
.mask-group-2 {
  position: absolute;
  top: 0px;
  left: 0.16px;
  width: 100%;
  height: 172.35px;
}

.group-160 {
  position: absolute;
  top: 141.29px;
  left: 161.78px;
  width: 55.06px;
  height: 21.21px;
  padding: 6px 9.06px 7.21px 10px;
  border-radius: 14.13px;
  box-sizing: border-box;
  background-color: rgba(247, 205, 173, 1);
}
.life-skills-1 {
  color: rgba(0, 0, 0, 1);
  font-size: 8.48px;
  line-height: 8.48px;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}

.group-046 {
  position: absolute;
  top: 189.33px;
  display: flex;
  flex-direction: column;
  width: 193.15px;
  height: 86.19px;
  box-sizing: border-box;
}
.online-safety {
  color: rgba(0, 0, 0, 1);
  font-size: 16.96px;
  line-height: 16.96px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.comprehensive-online-s {
  color: rgba(0, 0, 0, 1);
  font-size: 9.89px;
  line-height: 157%;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}

.group-176 {
  position: absolute;
  top: 1922px;
  left: 340.63px;
  width: 227.48px;
  height: 317.2px;
  border-radius: 28.26px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2.83px 14.13px rgba(0, 0, 0, 0.06);
}
.mask-group-3 {
  position: absolute;
  top: 0px;
  left: 0.05px;
  width: 100%;
  height: 172.35px;
}

.group-926 {
  position: absolute;
  top: 189.33px;
  display: flex;
  flex-direction: column;
  width: 189.78px;
  height: 86.19px;
  box-sizing: border-box;
}
.pottery {
  color: rgba(0, 0, 0, 1);
  font-size: 16.96px;
  line-height: 16.96px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.through-adiverse-range {
  color: rgba(0, 0, 0, 1);
  font-size: 9.89px;
  line-height: 157%;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}

.group-1741 {
  position: absolute;
  top: 140.59px;
  left: 128.95px;
  width: 88.31px;
  height: 21.19px;
  padding: 6px 8.31px 7.19px 10px;
  border-radius: 14.13px;
  box-sizing: border-box;
  background-color: rgba(169, 215, 228, 1);
}
.hands-on-activity-1 {
  color: rgba(0, 0, 0, 1);
  font-size: 8.48px;
  line-height: 8.48px;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}

.group-177 {
  position: absolute;
  top: 1922px;
  left: 606.26px;
  width: 227.48px;
  height: 317.2px;
  border-radius: 28.26px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2.83px 14.13px rgba(0, 0, 0, 0.06);
}
.mask-group-4 {
  position: absolute;
  top: 0px;
  left: 0.11px;
  width: 100%;
  height: 172.35px;
}

.group-159 {
  position: absolute;
  top: 141.24px;
  left: 152.6px;
  width: 64.66px;
  height: 21.21px;
  padding: 6px 9.66px 7.21px 9px;
  border-radius: 14.13px;
  box-sizing: border-box;
  background-color: rgba(213, 223, 170, 1);
}
.digital-skills {
  color: rgba(0, 0, 0, 1);
  font-size: 8.48px;
  line-height: 8.48px;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}

.group-968 {
  position: absolute;
  top: 189.33px;
  display: flex;
  flex-direction: column;
  width: 186.17px;
  height: 86.19px;
  box-sizing: border-box;
}
.animation {
  color: rgba(0, 0, 0, 1);
  font-size: 16.96px;
  line-height: 16.96px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

._-6-week-course-covers-an {
  color: rgba(0, 0, 0, 1);
  font-size: 9.89px;
  line-height: 157%;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}

.group-179 {
  position: absolute;
  top: 1922px;
  left: 1137.52px;
  width: 227.48px;
  height: 317.2px;
  border-radius: 28.26px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2.83px 14.13px rgba(0, 0, 0, 0.06);
}
.mask-group-5 {
  position: absolute;
  top: 0px;
  left: 0.21px;
  width: 100%;
  height: 172.35px;
}

.group-342 {
  position: absolute;
  top: 189.33px;
  display: flex;
  flex-direction: column;
  width: 196.32px;
  height: 85.48px;
  box-sizing: border-box;
}
.sm-digital-skills {
  color: rgba(0, 0, 0, 1);
  font-size: 16.96px;
  line-height: 16.96px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.diverse-facets-of-the-di {
  color: rgba(0, 0, 0, 1);
  font-size: 9.89px;
  line-height: 157%;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}

.group-1591 {
  position: absolute;
  top: 141.29px;
  left: 152.6px;
  width: 64.66px;
  height: 21.21px;
  padding: 6px 9.66px 7.21px 9px;
  border-radius: 14.13px;
  box-sizing: border-box;
  background-color: rgba(213, 223, 170, 1);
}
.digital-skills-2 {
  color: rgba(0, 0, 0, 1);
  font-size: 8.48px;
  line-height: 8.48px;
  font-family: Rubik, sans-serif;
  font-weight: 300;
}

.group-893 {
  position: absolute;
  top: 2837px;
  display: flex;
  flex-direction: column;
  width: 356.83px;
  height: 186px;
  box-sizing: border-box;
}
.the-articulate-hub {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.if-you-don-tknow-what-the {
  color: rgba(43, 43, 43, 1);
  font-size: 15px;
  line-height: 160%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.group-419 {
  width: fit-content;
  height: 44px;
  padding: 13px 136px 14px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(229, 96, 142, 1);
}
.group-14139 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.see-more {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 14px;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.frame {
  width: 12px;
  height: 100%;
}

.group-427 {
  position: absolute;
  top: 1475px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 896px;
  height: 1548px;
  box-sizing: border-box;
}
.hands-on-activities {
  color: rgba(28, 28, 27, 1);
  font-size: 19.72px;
  line-height: 19.72px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.group-2610 {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}
.adigital-space-to-stay {
  color: rgba(229, 96, 142, 1);
  font-size: 40px;
  line-height: 40px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.if-you-don-tknow-what-the-1 {
  color: rgba(43, 43, 43, 1);
  font-size: 18px;
  line-height: 178%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.group-215 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}
.group-14146 {
  width: 186px;
  height: 186px;
}

.group-14147 {
  width: 186px;
  height: 186px;
}

.group-3910 {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  width: 356px;
  height: fit-content;
  box-sizing: border-box;
}
.articulate-cultural-tr {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.if-you-don-tknow-what-the-2 {
  color: rgba(43, 43, 43, 1);
  font-size: 15px;
  line-height: 160%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.group-855 {
  width: 100%;
  height: 44px;
  padding: 13px 136px 14px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(229, 96, 142, 1);
}
.group-14138 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.see-more-1 {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 14px;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.frame-1 {
  width: 12px;
  height: 100%;
}

.group-412 {
  position: absolute;
  top: 1479.31px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 20.36px;
  box-sizing: border-box;
}
.culture-360 {
  color: rgba(28, 28, 27, 1);
  font-size: 20.17px;
  line-height: 20.17px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.digital-skills-3 {
  color: rgba(28, 28, 27, 1);
  font-size: 20.19px;
  line-height: 20.19px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.group-14148 {
  position: absolute;
  top: 3109px;
  left: 0px;
  width: 1692.51px;
  height: 1228.82px;
}

.the-vault-space-is-prior {
  position: absolute;
  top: 3390px;
  left: 75px;
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  line-height: 178%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.asafe-place-to-support-y {
  position: absolute;
  top: 3329px;
  left: 75px;
  color: rgba(255, 255, 255, 1);
  font-size: 40px;
  line-height: 40px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.group-169 {
  position: absolute;
  top: 3479px;
  left: 461px;
  width: 560px;
  height: 436.85px;
}

.values-in-the-app {
  position: absolute;
  top: 3561px;
  left: 1060px;
  color: rgba(255, 255, 255, 1);
  font-size: 24px;
  line-height: 24px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.group-14150 {
  position: absolute;
  top: 3784px;
  left: 251px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 169px;
  height: 44px;
  padding: 0px 18px 1px;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 1);
}
.image-9 {
  width: 31px;
  height: 31px;
}

.group-041 {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.get-it-on {
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  line-height: 280%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.google-play {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 175%;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.the-vault-provides-arti {
  position: absolute;
  top: 3596px;
  left: 75px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 175%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.the-vault {
  position: absolute;
  top: 3551px;
  left: 75px;
  color: rgba(255, 255, 255, 1);
  font-size: 28px;
  line-height: 28px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.group-165 {
  position: absolute;
  top: 3613px;
  left: 1060px;
  width: 40px;
  height: 40px;
  padding: 8px 15px 12px 13px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
._-1 {
  color: rgba(251, 197, 120, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.group-166 {
  position: absolute;
  top: 3687px;
  left: 1060px;
  width: 40px;
  height: 40px;
  padding: 8px 12px 12px 13px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
._-2 {
  color: rgba(251, 197, 120, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.group-167 {
  position: absolute;
  top: 3761px;
  left: 1060px;
  width: 40px;
  height: 40px;
  padding: 8px 12px 12px 13px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
._-3 {
  color: rgba(251, 197, 120, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.group-168 {
  position: absolute;
  top: 3835px;
  left: 1060px;
  width: 40px;
  height: 40px;
  padding: 8px 11px 12px 13px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}
._-4 {
  color: rgba(251, 197, 120, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 900;
}

.group-1102 {
  position: absolute;
  top: 3605px;
  width: 137px;
  height: 56px;
  padding: 16px 35px 20px 33px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
}
.be-kind {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.group-657 {
  position: absolute;
  top: 3679px;
  width: 249px;
  height: 56px;
  padding: 16px 32px 20px 31px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
}
.respect-boundaries {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.group-537 {
  position: absolute;
  top: 3753px;
  width: 169px;
  height: 56px;
  padding: 16px 32px 20px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
}
.safe-space {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.group-744 {
  position: absolute;
  top: 3827px;
  width: 169px;
  height: 56px;
  padding: 16px 37px 20px 32px;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
}
.be-curious {
  color: rgba(0, 0, 0, 1);
  font-size: 20px;
  line-height: 20px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.group-14149 {
  position: absolute;
  top: 3784px;
  left: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 158px;
  height: 44px;
  border-radius: 6px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 1);
}
.group-439 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  box-sizing: border-box;
}
.vector-3 {
  width: 5.41px;
  height: 6.59px;
}

.vector-4 {
  width: 100%;
  height: 21.6px;
}

.group-1092 {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.download-on-the {
  color: rgba(255, 255, 255, 1);
  font-size: 10px;
  line-height: 280%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.app-store {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  line-height: 175%;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.as-acreative-charity-yo {
  position: absolute;
  top: 4248px;
  left: 75px;
  color: rgba(43, 43, 43, 1);
  font-size: 18px;
  line-height: 178%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.meet-us {
  position: absolute;
  top: 4187px;
  left: 75px;
  color: rgba(239, 154, 92, 1);
  font-size: 40px;
  line-height: 40px;
  font-family: Rubik, sans-serif;
  font-weight: 700;
}

.group-472 {
  position: absolute;
  top: 4354px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1255px;
  height: 515px;
  box-sizing: border-box;
}
.group-497 {
  width: 640px;
  height: 100%;
  padding: 172px 304px 331px 170px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 1);
}
.kumospace-or-maps-or-bot {
  color: rgba(0, 0, 0, 1);
  font-size: 12px;
  line-height: 12px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.group-14154 {
  width: 86.03px;
  height: 456px;
}

.group-494 {
  display: flex;
  flex-direction: column;
  height: fit-content;
  box-sizing: border-box;
}
._-249-west-george-street {
  color: rgba(43, 43, 43, 1);
  font-size: 18px;
  line-height: 178%;
  font-family: Rubik, sans-serif;
  font-weight: 600;
}

.meet-us-in-person-here {
  color: rgba(43, 43, 43, 1);
  font-size: 15px;
  line-height: 213%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.articulateculturaltr {
  color: rgba(43, 43, 43, 1);
  font-size: 18px;
  line-height: 178%;
  font-family: Rubik, sans-serif;
  font-weight: 600;
}

.follow-us-on-instagram-f {
  color: rgba(43, 43, 43, 1);
  font-size: 15px;
  line-height: 160%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.articulateculturaltr-1 {
  color: rgba(43, 43, 43, 1);
  font-size: 18px;
  line-height: 178%;
  font-family: Rubik, sans-serif;
  font-weight: 600;
}

.follow-us-on-facebook-fo {
  color: rgba(43, 43, 43, 1);
  font-size: 15px;
  line-height: 160%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.articulateculturaltr-2 {
  color: rgba(43, 43, 43, 1);
  font-size: 18px;
  line-height: 178%;
  font-family: Rubik, sans-serif;
  font-weight: 600;
}

.follow-us-on-xfor-highli {
  color: rgba(43, 43, 43, 1);
  font-size: 15px;
  line-height: 160%;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.group-14137 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 198px;
  box-sizing: border-box;
}
.group-172 {
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 190.5px;
  padding: 92px 75px 46.5px 809px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 3px 37.5px rgba(0, 0, 0, 0.06);
}
.all-courses {
  color: rgba(28, 28, 27, 1);
  font-size: 18px;
  line-height: 18px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.how-it-works {
  color: rgba(28, 28, 27, 1);
  font-size: 18px;
  line-height: 18px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.about {
  color: rgba(28, 28, 27, 1);
  font-size: 18px;
  line-height: 18px;
  font-family: Rubik, sans-serif;
  font-weight: 400;
}

.group-29 {
  width: 52.5px;
  height: 100%;
}

.group-28 {
  width: 52.5px;
  height: 100%;
}

.artculate-logo-1 {
  position: absolute;
  top: 12.75px;
  left: 67.5px;
  width: 261.75px;
  height: 185.25px;
}
